.fill {
  min-height: 100vh;
  /*height: initial;*/
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.side-col-fill {
  background-color: var(--bs-indigo);
}

.col-lg-3 {
  flex: 0 0 auto;
  width: 25%;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100vw;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.row > * {
  flex-shrink: 0;
  width: 30%;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
}

#lapsbanner {
  /*text-align: center;*/
  /*padding: 50px;*/
  /*background-image: url("../../assets/img/laps-background.jpg");*/
}

.p-5 {
  padding: 50px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #000000;
  background-color: #80FFC6;
  border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
  background-color: #b7cefa;
  border-radius: 5px;
}

