<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--added bootstrap links-->
<head th:replace="fragment/layout.html :: head"/>

<body style="background: #98b5ff;">
<div class="container-fluid fill d-flex flex-column">
	<div class="container">
		<div class="row fill">
			<div class="col-lg-3" style="background: rgb(255, 255, 255);">
			  <img th:src="@{/assets/img/login.PNG}" style="height: 300px; width: 350px; margin-top: 200px; margin-bottom:auto; border-radius: 17px;"/>
		
			</div>
			<div class="col" style="background: #98b5ff;/*border-radius: 102px;*/">

				<h1 style="padding-right: 432px;padding-left: 115px;padding-top: 5px;">About LAPS<br></h1>
				<h4>What is LAPS?</h4>
				<p>It's a new, user-friendly leave application and leave claim management platform.</p>
				
				<h4>Who is LAPS for?</h4>
				<p>>It is for the Staff and Managers, and is managed by a group of reliable system administrators.</p>
				<button  onclick="window.location.href='/home'"
						 class="btn btn-primary"
						 type="button"
						 style="margin-left: 115px;
						 margin-top: 80px;
						 background: #80ffc6;color: rgb(0,0,0);
						 border-width: 0px;
						 border-radius: 5px;">
					<strong>Home</strong>
				</button>

			</div>
		</div>
	</div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>