<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/layout.html :: head"/>
<body
        class="align-items-center align-content-center align-self-center mx-auto"
        style="background: #ffffff;">
<div th:replace="fragment/layout.html :: navbar-inv"/>




<section
        class="d-flex justify-content-center align-items-center align-content-center highlight-blue"
        style="padding: 133px 0px;background: #ffffff;color: rgb(0,0,0);margin-bottom: 0px;padding-bottom: 380px;padding-top: 39px;">
    <div class="row">
        <div
                class="col"
                style="width: 1320px;">
            <div
                    class="container"
                    style="padding: 50px;padding-top: 0px;padding-bottom: 10px;width: 1314px;">
                <div class="intro"></div>
                <h3 style="margin-bottom: 30px;">Manage all your claims in one place</h3>
                <div class="buttons"></div>
                <div class="table-responsive" style="border-radius: 10px;border-width: 2px;border-bottom-width: 0px;">
                    <table
                            class="table"
                            th:if="${not #lists.isEmpty(claimList)}">

                        <thead>
                        <tr class="text-start" style="background: rgba(152,181,255,0.57);font-size: 18px;">
                            <th style="background: #e2d5d5;border-right-width: 2px;border-right-color: rgb(111,111,111);border-left-width: 2px;">Claim Id</th>
                            <th style="background: #e2d5d5;border-right-width: 2px;border-right-color: rgb(111,111,111);border-left-width: 2px;">Approval Status</th>
<!--
                            <th style="border-right-width: 0px;">Eligible Claim</th>
-->
                            <th style="border-right-width: 0px;">Extra Hours Worked</th>
                            <th style="border-right-width: 0px;">Overtime Day</th>
                            <th style="border-right-width: 0px;">Remarks</th>
                            <th style="background: #e2d5d5;border-right-width: 2px;border-right-color: rgb(111,111,111);border-left-width: 1px;">Manager's Comment</th>
                            <th style="background: #80ffc6;border-left-width: 1px;">Details</th>
                            <th style="background: #80ffc6;border-left-width: 1px;">Update</th>
                            <th style="background: rgba(255,143,143,0.51);border-left-width: 1px;">Delete</th>
                            <!--<th style="background: rgba(255,143,143,0.51);border-left-width: 1px;">Cancel</th>-->
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="claim:${claimList}">
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${claim.claimId}"></span></td>
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${claim.approvalStatus}"></span></td>
<!--
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${claim.eligibleClaim}"></span></td>
-->
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${claim.hoursWorked}"></span></td>
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${claim.overtimeDate}"></span></td>
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${claim.remarks}"></span></td>
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${claim.managerComment}"></span></td>

                            <td style="background: rgba(152,181,255,0.09);"><a th:href="@{/Claim/viewClaimDetails/}+${claim.claimId}">View Details</a></td>
                            <td style="background: rgba(152,181,255,0.09);"><span th:if="${claim.approvalStatus == 'DELETED'}"> No actions  </span>
                                <span th:unless="${claim.approvalStatus == 'DELETED'}"><a th:href="@{/Claim/edit/}+${claim.claimId}" >
                Update</a></span></td>
                            <td style="background: rgba(152,181,255,0.09);"> <span th:if="${claim.approvalStatus == 'DELETED'}">  No actions </span>
                                <span th:unless="${claim.approvalStatus == 'DELETED'}"><a th:href="@{/Claim/delete/}+${claim.claimId}" >
            Delete</a></span></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>






<!--











<h2 th:if="${not #lists.isEmpty(claimList)}">claim List</h2>
<table th:if="${not #lists.isEmpty(claimList)}" width="400" cellpadding="10" cellspacing="5" border="2" bgcolor="#f5f5dc">
    <tr >
        <th >claim ID</th>
        <th >approval status</th>
        <th >eligibleClaim</th>
        <th >hoursWorked</th>
        <th >overtimeDate</th>
        <th >remarks</th>
        <th >Manager's comment</th>

        <th >Edit claim</th>
        <th >Delete claim</th>
        <th >View details</th>
    </tr>
    <tr th:each="claim:${claimList}" class="table-row">
        <td th:text="${claim.claimId}">ID</td>




        <td th:text="${claim.approvalStatus}">Name</td>
        <td th:text="${claim.eligibleClaim}">ID</td>
        <td th:text="${claim.hoursWorked}">Name</td>
        <td th:text="${claim.overtimeDate}">ID</td>
        <td th:text="${claim.remarks}">Name</td>
        <td th:text="${claim.managerComment}">Name</td>
        <td><a th:href="@{/Claim/viewClaimDetails/}+${claim.claimId}">View Details</a></td>


&lt;!&ndash;
        <td><a th:href="@{/Claim/edit/}+${claim.claimId}" >
                update</a></td>&ndash;&gt;

        <td>
            <span th:if="${claim.approvalStatus == 'DELETED'}"> No actions  </span>
            <span th:unless="${claim.approvalStatus == 'DELETED'}"><a th:href="@{/Claim/edit/}+${claim.claimId}" >
                update</a></span>
        </td>
        <td>
            <span th:if="${claim.approvalStatus == 'DELETED'}">  No actions </span>
            <span th:unless="${claim.approvalStatus == 'DELETED'}"><a th:href="@{/Claim/delete/}+${claim.claimId}" >
            delete</a></span>
        </td>

&lt;!&ndash;

        <td><a th:href="@{/Claim/delete/}+${claim.claimId}" >
            delete</a></td>
&ndash;&gt;


    </tr>





</table>
<br/>
&lt;!&ndash;	<div th:replace="fragments/general.html :: footer"></div>&ndash;&gt;
&lt;!&ndash;<a th:href="@{/authenticate}">Back</a>&ndash;&gt;
<h3><a th:href="@{/back}">Go Back</a> </h3>

-->

<footer class="text-start d-flex flex-fill justify-content-start align-items-start align-content-start align-self-start justify-content-xl-center align-items-xl-center footer-clean bg-info">
    <h1 class="text-start text-white">Take your holidays without worry!</h1>
</footer>
<script  type="text/javascript" media="all" th:src="@{/assets/bootstrap/js/bootstrap.min.js}" ></script>



</body>
</html>