<!DOCTYPE html>
<html lang="en">
<title>LAPS-Form</title>
<head th:replace="fragment/layout.html :: head"/>

<body class="align-items-center align-content-center align-self-center mx-auto"
style="background: #ffffff;">
    <div th:replace="fragment/layout.html :: navbar-inv"/>
    <table th:if="${not #lists.isEmpty(appliedStatusList)}" width="400" cellpadding="10" cellspacing="5" border="2" bgcolor="#f5f5dc">
        <thead>
        <tr>
            <th >Leave Id</th>
            <th>Approval Status</th>
            <th>Contact details</th>
            <th>Covering Employee</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Remarks</th>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Leave Type</th>
            <th>View Details</th>
        </tr>
        </thead>
        <tbody>
    <tr th:each="applied: ${appliedStatusList}">
        <td th:text="${applied.leaveId}"></td >
        <td th:text="${applied.approvalStatus}"></td>
        <td th:text="${applied.contactDetails}"></td>
        <td th:text="${applied.coveringEmp}"></td>
        <td th:text="${applied.fromDate}"></td>
        <td th:text="${applied.toDate}"></td>
        <td th:text="${applied.remarks}"></td>
        <td th:text="${applied.employee.employeeId}"></td>
        <td th:text="${applied.employee.name}"></td>
        <td th:text="${applied.leaveType.leaveName}"></td>
        <td><a th:href="@{/manager/viewLeaveDetails/}+${applied.leaveId}">View Details</a></td>
    </tr>
        </tbody>
    
    </table>
    <script  type="text/javascript" media="all" th:src="@{/assets/bootstrap/js/bootstrap.min.js}" ></script>
</body>
</html>