<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/layout.html :: head"/>
<body
        class="align-items-center align-content-center align-self-center mx-auto"
        style="background: #ffffff;">
<div th:replace="fragment/layout.html :: navbar-inv"/>







<section
        class="d-flex justify-content-center align-items-center align-content-center highlight-blue"
        style="padding: 133px 0px;background: #ffffff;color: rgb(0,0,0);margin-bottom: 0px;padding-bottom: 380px;padding-top: 39px;">
    <div class="row">
        <div
                class="col"
                style="width: 1320px;">
            <div
                    class="container"
                    style="padding: 50px;padding-top: 0px;padding-bottom: 10px;width: 1314px;">
                <div class="intro"></div>
                <h3 style="margin-bottom: 30px;">Manage all your claims in one place</h3>
                <div class="buttons"></div>
                <div class="table-responsive" style="border-radius: 10px;border-width: 2px;border-bottom-width: 0px;">
                    <table
                            class="table"
                            th:if="${not #lists.isEmpty(appliedStatusList)}">

                        <thead>
                        <tr class="text-start" style="background: rgba(152,181,255,0.57);font-size: 18px;">
                            <th style="background: #e2d5d5;border-right-width: 2px;border-right-color: rgb(111,111,111);border-left-width: 2px;">Claim Id</th>
                            <th style="background: #e2d5d5;border-right-width: 2px;border-right-color: rgb(111,111,111);border-left-width: 2px;">Approval Status</th>
                            <th style="border-right-width: 0px;">Overtime Day</th>
                            <th style="border-right-width: 0px;">Extra Hours Worked</th>
<!--                            <th style="border-right-width: 0px;">Eligible Claim</th>-->

                            <th style="border-right-width: 0px;">Remarks</th>
                            <th style="border-right-width: 0px;">Employee Id</th>
                            <th style="border-right-width: 0px;">Employee Name</th>
                           <!-- <th style="border-right-width: 0px;">Approve or reject</th>

                            &lt;!&ndash;<th style="background: #e2d5d5;border-right-width: 2px;border-right-color: rgb(111,111,111);border-left-width: 1px;">Manager's Comment</th>&ndash;&gt;
                            <th style="background: #80ffc6;border-left-width: 1px;">Details</th>
                            <th style="background: #80ffc6;border-left-width: 1px;">Update</th>-->
<!--
                            <th style="background: #80ffc6;border-left-width: 1px;">Details</th>
-->
                            <th style="background: rgba(255,143,143,0.51);border-left-width: 1px;">Approve or reject</th>
                            <!--<th style="background: rgba(255,143,143,0.51);border-left-width: 1px;">Cancel</th>-->
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="applied: ${appliedStatusList}">
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${applied.claimId}"></span></td>
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${applied.approvalStatus}"></span></td>


                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${applied.overtimeDate}"></span></td>
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${applied.hoursWorked}"></span></td>
<!--                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${applied.eligibleClaim}"></span></td>-->

                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${applied.remarks}"></span></td>
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${applied.employee.employeeId}"></span></td>
                            <td style="background: rgba(152,181,255,0.09);"><span th:text="${applied.employee.name}"></span></td>
<!--
                            <td style="background: rgba(152,181,255,0.09);"><a th:href="@{/Claim/viewClaimDetailsManager/}+${applied.claimId}">View Details</a></td>
-->

                            <td style="background: rgba(152,181,255,0.09);"><a th:href="@{/manager/viewClaimDetails/}+${applied.claimId}">Take Action</a></td>

                       <!--     <td style="background: rgba(152,181,255,0.09);"><a th:href="@{/Claim/viewClaimDetails/}+${claim.claimId}">View Details</a></td>
                            <td style="background: rgba(152,181,255,0.09);"><span th:if="${claim.approvalStatus == 'DELETED'}"> No actions  </span>
                                <span th:unless="${claim.approvalStatus == 'DELETED'}"><a th:href="@{/Claim/edit/}+${claim.claimId}" >
                Update</a></span></td>
                            <td style="background: rgba(152,181,255,0.09);"> <span th:if="${claim.approvalStatus == 'DELETED'}">  No actions </span>
                                <span th:unless="${claim.approvalStatus == 'DELETED'}"><a th:href="@{/Claim/delete/}+${claim.claimId}" >
            Delete</a></span></td>
-->
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>














<!--


<table th:if="${not #lists.isEmpty(appliedStatusList)}" width="400" cellpadding="10" cellspacing="5" border="2" bgcolor="#f5f5dc">
        <thead>
        <tr>
            <th >Claim Id</th>
            <th>Approval Status</th>

            <th>Over time Date</th>
            <th>Hours Worked</th>
            <th>Eligible Claim</th>

            <th>Remarks</th>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>View Details</th>


        </tr>
        </thead>
        <tbody>
    <tr th:each="applied: ${appliedStatusList}">
        <td th:text="${applied.claimId}"></td >
        <td th:text="${applied.approvalStatus}"></td>
        <td th:text="${applied.overtimeDate}"></td>
        <td th:text="${applied.hoursWorked}"></td>
        <td th:text="${applied.eligibleClaim}"></td>
        <td th:text="${applied.remarks}"></td>
        &lt;!&ndash;<td th:text="${applied.remarks}"></td>&ndash;&gt;
        <td th:text="${applied.employee.employeeId}"></td>
        <td th:text="${applied.employee.name}"></td>

        <td><a th:href="@{/manager/viewClaimDetails/}+${applied.claimId}">View Details</a></td>
    </tr>
        </tbody>
    
    </table>
    <h3><a th:href="@{/back}">Go Back</a> </h3>

-->

<footer class="text-start d-flex flex-fill justify-content-start align-items-start align-content-start align-self-start justify-content-xl-center align-items-xl-center footer-clean bg-info">
    <h1 class="text-start text-white">Take your holidays without worry!</h1>
</footer>
<script  type="text/javascript" media="all" th:src="@{/assets/bootstrap/js/bootstrap.min.js}" ></script>


</body>
</html>