<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>make a claim</title>
</head>
<body>
<H1>Make a claim</H1>
<form action="#" th:object="${claim}" th:action="@{/Claim/save}">

    <fieldset>
        status: <input th:field="*{approvalStatus}">

    </fieldset>
    <fieldset>
        Overtime Date: <input type="date" th:field="*{overtimeDate}">
    </fieldset>

    <fieldset>
        Over time hours: <input type="number" th:field="*{hoursWorked}">
    </fieldset>

    <fieldset>
        Eligible claim: <input type="number" th:field="*{eligibleClaim}">
    </fieldset>

    <fieldset>
        Remarks: <input type="text" th:field="*{remarks}">
    </fieldset>


    <fieldset>
        <input type="submit" value="Save" /> &nbsp; &nbsp; <input
            type="reset" value="Reset" />
    </fieldset>


</form>
</body>
</html>