<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/layout.html :: head"/>
<body
        class="align-items-center align-content-center align-self-center mx-auto"
        style="background: #ffffff;">

<div th:replace="fragment/layout.html :: navbar-inv"/>




<section
        class="d-flex justify-content-center align-items-center align-content-center highlight-blue"
        style="padding: 133px 0px;
             background: #ffffff;
             color: rgb(0,0,0);
             margin-bottom: 0px;
             padding-bottom: 380px;
             padding-top: 39px;">

    <div class="row">
        <div class="col">
            <div class="container"
                 style="padding: 50px;
                     padding-top: 0px;
                     padding-bottom: 10px;">

                <div class="intro">

                </div>
                <h3>Approve or Reject the Claim Request</h3>
                <div class="buttons">

                </div>

                <form
                        class="flex-fill"
                        action="#" th:object="${selectedClaim}"
                        th:action="@{/manager/approveClaim/}+${selectedClaim.claimId}"
                        method="post"

                        style="padding: 114px;
                    padding-top: 20px;
                    padding-right: 510px;
                    padding-bottom: 50px;
                    padding-left: 0px;">


                    <!--one entry-->
                    <div class="mb-3">
                        <label
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong>Claim Id</strong>
                        </label>

                        <input
                                readonly
                                class="form-control"
                                type="text"
                                name="fromDate"
                                placeholder="Select the date when you over worked"
                                style="background: rgba(152,181,255,0.26);"
                                th:field="*{claimId}"
                                >
                    </div>


                    <div class="mb-3">
                        <label
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong>Employee Id</strong>
                        </label>

                        <input
                                readonly
                                class="form-control"
                                type="text"
                                name="fromDate"
                                placeholder="Select the date when you over worked"
                                style="background: rgba(152,181,255,0.26);"
                                th:field="${employee.employeeId}"
                        >
                    </div>

                    <div class="mb-3">
                        <label
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong>Employee name</strong>
                        </label>

                        <input
                                readonly
                                class="form-control"
                                type="text"
                                name="fromDate"
                                placeholder="Select the date when you over worked"
                                style="background: rgba(152,181,255,0.26);"
                                th:field="${employee.name}"
                        >
                    </div>


                    <div class="mb-3">
                        <label
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong>Overtime Date</strong>
                        </label>

                        <input
                                readonly
                                class="form-control"
                                type="text"
                                name="fromDate"
                                placeholder="Select the date when you over worked"
                                style="background: rgba(152,181,255,0.26);"
                                th:field="*{overtimeDate}"
                        >
                    </div>


                    <div class="mb-3">
                        <label
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong>Hours Worked</strong>
                        </label>

                        <input
                                readonly
                                class="form-control"
                                type="text"
                                name="fromDate"
                                placeholder="Select the date when you over worked"
                                style="background: rgba(152,181,255,0.26);"
                                th:field="*{hoursWorked}"
                        >
                    </div>

                    <div class="mb-3">
                        <label
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong>Eligible Claim</strong>
                        </label>

                        <input
                                readonly
                                class="form-control"
                                type="text"
                                name="fromDate"
                                placeholder="Select the date when you over worked"
                                style="background: rgba(152,181,255,0.26);"
                                th:field="*{eligibleClaim}"
                        >
                    </div>

                    <div class="mb-3">
                        <label
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong>Remarks</strong>
                        </label>

                        <input
                                readonly
                                class="form-control"
                                type="text"
                                name="fromDate"
                                placeholder="Select the date when you over worked"
                                style="background: rgba(152,181,255,0.26);"
                                th:field="*{remarks}"
                        >
                    </div>


                    <div class="mb-3">
                        <label
                                for="approve-leave"
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong>Approve</strong>
                        </label>

                        <input

                                class="form-check-input"
                                type="radio"
                                name="approve_reject" id="approve-leave" value="Approve"

                        >
                    </div>

                    <div class="mb-3">
                        <label
                                for="reject-leave"
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong>Reject</strong>
                        </label>

                        <input

                                class="form-check-input"
                                type="radio"
                                name="approve_reject" id="reject-leave" value="Reject"

                        >
                    </div>

                    <div class="mb-3">
                        <label
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong>Manager's Remark</strong>
                        </label>

                        <textarea
                                id="manager-remarks" name="manager-remarks" rows="3" placeholder="Remarks here" required

                                class="form-control"
                                type="text"

                                style="background: rgba(152,181,255,0.26);"

                        ></textarea>
                    </div>






















                    <!--   <div class="mb-3">
                           <label
                                   class="error-message">
                               <strong><span th:if="${#fields.hasErrors('overtimeDate')}" th:errors="*{overtimeDate}"></span></strong>
                           </label>
                       </div>-->

                    <!--second entry-->
                  <!--  <div class="mb-3">
                        <label
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong><span th:text="#{Label.claimHoursWorked}"></span></strong>
                        </label>

                        <input
                                class="form-control"
                                type="number"
                                name="hoursWorked"
                                min="4" max="8"
                                placeholder="Enter the number of hours"
                                style="background: rgba(152,181,255,0.26);"
                                th:field="*{hoursWorked}"
                        >
                    </div>

                    <div class="mb-3">
                        <label
                                class="error-message">
                            <strong><span th:if="${#fields.hasErrors('hoursWorked')}" th:errors="*{hoursWorked}"></span></strong>
                        </label>
                    </div>


                    &lt;!&ndash;third entry&ndash;&gt;
                    <div class="mb-3">
                        <label
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong><span th:text="#{Label.claimEligibleClaim}"></span></strong>
                        </label>

                        <input
                                class="form-control"
                                type="number"
                                name="eligibleClaim"
                                placeholder="Enter the eligible claim hours"
                                style="background: rgba(152,181,255,0.26);"
                                th:field="*{eligibleClaim}"
                        >
                    </div>

                    <div class="mb-3">
                        <label
                                class="error-message">
                            <strong><span th:if="${#fields.hasErrors('eligibleClaim')}" th:errors="*{eligibleClaim}"></span></strong>
                        </label>
                    </div>


                    &lt;!&ndash;fourth entry&ndash;&gt;
                    <div class="mb-3">
                        <label
                                class="form-label"
                                style="margin-bottom: 3px;">
                            <strong><span th:text="#{Label.claimRemark}"></span></strong>
                        </label>

                        <input
                                class="form-control"
                                type="text"
                                name="remarks"
                                placeholder="Enter your remarks"
                                style="background: rgba(152,181,255,0.26);"
                                th:field="*{remarks}">
                    </div>

-->
                    <div class="text-end mb-3">
                        <button class="btn btn-primary"
                                type="submit"
                                value="Submit"
                                style="background: #80ffc6;color: rgb(0,0,0);border-width: 0px;margin-top: 50px;">
                            <strong>Submit</span></strong></button>
                    </div>


                </form>
            </div>
        </div>

        <div class="col">
            <img th:src="@{https://i.ibb.co/Hgh1n1s/edit-leave-form.jpg}" src="https://i.ibb.co/Hgh1n1s/edit-leave-form.jpg"
                 style="height: 395px;width: 427.78px;margin-top: 144px;border-radius: 17px;"/>
        </div>
    </div>
</section>


<!--


<form action="#" th:object="${selectedClaim}" th:action="@{/manager/approveClaim/}+${selectedClaim.claimId}" method="post">
        <fieldset>
            <label for="claimId">claimId: </label>
            <input type="text" th:field="*{claimId}" readonly />
        </fieldset>
        <fieldset>
            <label for="empId">Employee Id: </label>
            <input type="text" th:field="${employee.employeeId}" id="empId" readonly />
        </fieldset>
        <fieldset>
        	<label for="empName">Employee Name: </label>
            <input type="text" th:field="${employee.name}" id="empName" readonly />
        </fieldset>
        <fieldset>
            &lt;!&ndash; https://coderedirect.com/questions/278783/wrong-date-format-when-submit-spring-form &ndash;&gt;
            <label for="overtimeDate">Overtime Date: </label>
            <input type="text" th:field="*{overtimeDate}" placeholder="dd-MM-yyyy" readonly />
        </fieldset>
        <fieldset>

            <label for="hoursWorked">Hours Worked: </label>
            <input type="text" th:field="*{hoursWorked}" placeholder="dd-MM-yyyy" readonly />
        </fieldset>
        <fieldset>

            <label for="eligibleClaim">Eligible Claim: </label>
            <input type="text" name="remarks" id="eligibleClaim" th:field="*{eligibleClaim}" readonly />
        </fieldset>
        <fieldset>

            <label for="remarks">Remarks: </label>
            <input type="text" name="remarks" id="remarks" th:field="*{remarks}" readonly />
        </fieldset>
      &lt;!&ndash;  <fieldset>
            <label for="coveringEmp">Covering Employee: </label>
            <input type="text" name="coveringEmp" id="coveringEmp" th:field="*{coveringEmp}"  readonly />
        </fieldset>
        <fieldset>
            <label for="contactDetails">Contact Details: </label>
            <input type="text" name="contactDetails" id="contactDetails" th:field="*{contactDetails}"  readonly />
        </fieldset>
        <fieldset>
            <label for="leaveName">Leave Type: </label>
            <input type="text" name="leaveName" id="leaveName" th:field="*{leaveType.leaveName}"  readonly />
        </fieldset>
      <fieldset>&ndash;&gt;
      		<label for="approve-leave">Approve</label>
        	<input type="radio" name="approve_reject" id="approve-leave" value="Approve">
        	<label for="reject-leave">Reject</label>
        	<input type="radio" name="approve_reject" id="reject-leave" value="Reject">
        </fieldset>
        <fieldset>
        	<label for="manager-remarks">Manager's remarks</label>
        	<textarea id="manager-remarks" name="manager-remarks" rows="3" placeholder="Remarks here" required></textarea>
        </fieldset>
        <fieldset>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

    <h3><a th:href="@{/back}">Go Back</a> </h3>-->

    <footer class="text-start d-flex flex-fill justify-content-start align-items-start align-content-start align-self-start justify-content-xl-center align-items-xl-center footer-clean bg-info">
        <h1 class="text-start text-white">Take your holidays without worry!</h1>
    </footer>
    <script  type="text/javascript" media="all" th:src="@{/assets/bootstrap/js/bootstrap.min.js}" ></script>

</body>
</html>