<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All claim</title>
</head>
    <meta charset="UTF-8">
    <title>View Claim Details</title>
</head>
<body>
<h1>Claim details</h1>


<table th:if="${not #lists.isEmpty(newClaim)}" width="400" cellpadding="10" cellspacing="5" border="2" bgcolor="#f5f5dc">
    <tr >
        <th >claim ID</th>
        <th >approval status</th>
        <th >eligibleClaim</th>
        <th >hoursWorked</th>
        <th >overtimeDate</th>
        <th >remarks</th>
        <th >Manager's comment</th>
    </tr>
    <tr th:each="claim:${newClaim}" class="table-row">
        <td th:text="${claim.claimId}">ID</td>




        <td th:text="${claim.approvalStatus}">Name</td>
        <td th:text="${claim.eligibleClaim}">ID</td>
        <td th:text="${claim.hoursWorked}">Name</td>
        <td th:text="${claim.overtimeDate}">ID</td>
        <td th:text="${claim.remarks}">Name</td>
        <td th:text="${claim.managerComment}">Name</td>



    </tr>





</table>
<h3><a th:href="@{/back}">Go Back</a> </h3>
</body>
</html>