<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
</head>


<body>
	<!--<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
-->
	<h1>Hey Admin, here's where you manage all employees</h1>
	<!-- Add Hyperlink -->
	
	<h4>Add a new employee via the link below.</h4>
	<a href="employee-form.html" th:href="@{/employee/add}">Add Employee</a>

	<h4 th:if="${not #lists.isEmpty(employees)}">
	Edit or delete an employee using the options available below.</h4>
	
	<table th:if="${not #lists.isEmpty(employees)}" >
		<tr >
			<th >ID</th>
			<th >Name</th>
			<th >Manager ID</th>
			<th >Department</th>
			<th >Email</th>
			<th >Edit Details</th>
			<th >Annual Leave</th>
			<th >Medical Leave</th>
			<th >Compensation Leave</th>
			<th >Edit Leave Entitlement</th>
			<th >Delete</th>
		</tr>
		
		<tr th:each="employee:${employees}" class="table-row">
			<td th:text=${employee.employeeId}>ID</td>
			<td th:text=${employee.name}>Name</td>
			<td th:text=${employee.managerId}>Manager ID</td>
			<td th:text=${employee.department}>Department</td>
			<td th:text=${employee.emailId}>Email</td>

			<td><a href="employee-edit.html" 
				th:href="@{/employee/edit/}+${employee.employeeId}">Edit Details</a>
			</td>
		
			<td th:text=${employee.annualLeaveCount}>Annual Leave</td>
			<td th:text=${employee.medicalLeaveCount}>Medical Leave</td>
			<td th:text=${employee.compensationLeaveCount}>Compensation Leave</td>
		
			<td><a href="employee-edit.html"
				th:href="@{/employee/editLeaveEntitlement/}+${employee.employeeId}">Edit Leave Entitlement</a>
			</td>
			
			<td><a href="employee-delete.html"
				th:href="@{/employee/delete/}+${employee.employeeId}">Delete</a>
			</td>
		</tr>
	</table>
	
    <br/>
<!--	<div th:replace="fragments/general.html :: footer"></div>-->
	
</body>
</html>