<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Welcome <span th:text="${session.userSession.userCredentials.username}"></span></h1>

<h2>Services available for: <span th:each="role:${session.userSession.userCredentials.roles}" th:text="${role.roleDesc} + ' '"></span></h2>



<h2>Subordinates</h2>

<table width="400" cellpadding="10" cellspacing="5" border="2" bgcolor="#f5f5dc">
    <thead>
    <tr>
        <th>Employee Id</th>
        <th>Employee name</th>
        <th>Annual leave count</th>
        <th>Medical leave count</th>
        <th>Compensation leave count</th>
        <th>Job Title</th>


    </tr>
    </thead>
<tbody>
<tr th:each="subordinate: ${session.userSession.subordinates}">
    <td th:text="${subordinate.employeeId}" />
    <td th:text="${subordinate.name}" />
    <td th:text="${subordinate.annualLeaveCount}" />
    <td th:text="${subordinate.medicalLeaveCount}" />
    <td th:text="${subordinate.compensationLeaveCount}" />
    <td th:text="${subordinate.jobTitle}" />
<!--
    <td> <a href="/employee/leaveList/+${subordinate.employeeId}" >Manage Leave entitlement</a><td  />
-->

    <td><a th:href="@{/manager/leavelist/{id}(id=${subordinate.employeeId})}">view</a></td>


</tr>
</tbody>
</table>



<h3>-- Services --</h3>
 
<div th:each="role:${session.userSession.userCredentials.roles}">
<div th:if="${role.roleDesc == 'ADMIN'}">
    <br>
    <a href="/onLeave" >Employees on leave (Movement Register)</a>
    <br>
    <a href="/onLeave" >Manage Leave Types</a>
    <br>
    <a href="/employee/all" >Manage Staff members</a>
    <br>
    <a href="/onLeave" >Manage Leave entitlement</a>
    <br>
    <a href="/onLeave" >Manage Approval hierarcy</a>
    <br>
</div>


<div th:if="${role.roleDesc == 'MANAGER'}">
    <h3>Manager services</h3>
    <a href="/onLeave" >View Applications from approval </a>
    <br>
    <a href="/onLeave" >View subordinate leave history</a>
    <br>
    <a th:href="@{/manager/request/}+${session.userSession.employee.employeeId}" >Approve or reject application request </a>
    <br>
    <a href="/onLeave" >Approve or reject claim request </a>
    <br>
</div>

<div th:if="${role.roleDesc == 'STAFF'}">
	<h3>Staff services</h3>
    <a href="/onLeave" >Employees on leave (Movement Register)</a>
    <br>
    <br>
    <a th:href="@{/employee/addLeave/}+${session.userSession.employee.employeeId}" >Submit leave application</a>
    <br>
    <br>
    <a href="/onLeave" >Manage leave application</a>
    <br>
    <br>
    <a href="/Claim/new" >Submit Claim compensation</a>
    <br>
    <br>
    <a href="/Claim/all" >View your Claim compensation</a>
    <br>
    <br>
    <a href="/onLeave" >Manage (edit/delete) your Claim compensation</a>
    <br>
    <br>
    <a th:href="@{/employee/leaveList/}+${session.userSession.employee.employeeId}" >View personal leave history </a>
    <br>
    <br>
</div>
</div>








<h3>-- logout --</h3>
<br>
<h3><a href="/logout" >logout here</a></h3>
<br>

</body>
</html>