<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Welcome <span th:text="${username}"></span></h1>

<h2>Services available for : <span th:text="${roletitle}"></span> are </h2>



<h2>sub ordinates</h2>

<table width="400" cellpadding="10" cellspacing="5" border="2" bgcolor="#f5f5dc">
    <thead>
    <tr>
        <th >Emp Id</th>
        <th>Employee name</th>
        <th>Anaual leave count</th>
        <th>mdeical leave count</th>
        <th>comp leave count</th>
        <th>job title</th>


    </tr>
    </thead>
<tbody>
<tr th:each="subordinate: ${subordinates}">
    <td th:text="${subordinate.employeeId}" />
    <td th:text="${subordinate.name}" />
    <td th:text="${subordinate.annualLeaveCount}" />
    <td th:text="${subordinate.medicalLeaveCount}" />
    <td th:text="${subordinate.compensationLeaveCount}" />
    <td th:text="${subordinate.jobTitle}" />
<!--
    <td> <a href="/employee/leaveList/+${subordinate.employeeId}" >Manage Leave entitlement</a><td  />
-->

    <td><a th:href="@{/employee/leaveList/{id}(id=${subordinate.employeeId})}">view</a></td>


</tr>
</tbody>
</table>



<h3>-- services --</h3>


<div th:if="${roletitle} == ADMIN">
    <br>
    <a href="/onLeave" >Employees on leave (Movement Register)</a>
    <br>
    <a href="/onLeave" >Manage Leave Types</a>
    <br>
    <a href="/employee/all" >Manage Staff members</a>
    <br>
    <a href="/onLeave" >Manage Leave entitlement</a>
    <br>
    <a href="/onLeave" >Manage Approval hierarcy</a>
    <br>
</div>


<div th:if="${roletitle} == MANAGER">
    <h3>STAFF services</h3>
    <br>
    <a href="/onLeave" >Employees on leave (Movement Register)</a>
    <br>
    <a th:href="@{/employee/addLeave/}+${id}" >Submit leave application</a>
    <br>
    <a href="/onLeave" >Manage leave application</a>
    <br>
    <a href="/onLeave" >submit Claim compensation</a>
    <br>

    <a href="/onLeave" >manage Claim compensation</a>
    <br>
    <a th:href="@{/employee/leaveList/}+${id}" >View personal leave history </a>
    <br>
    <h3>Manager services</h3>
    <a href="/onLeave" >View Applications from approval </a>
    <br>
    <a href="/onLeave" >View subordinate leave history</a>
    <br>
    <a th:href="@{/manager/request/}+${id}" >Approve or reject application request </a>
    <br>
    <a href="/onLeave" >Approve or reject claim request </a>
    <br>
</div>

<div th:if="${roletitle} == STAFF">
    <br>
    <a href="/onLeave" >Employees on leave (Movement Register)</a>
    <br>
    <a th:href="@{/employee/addLeave/}+${id}" >Submit leave application</a>
    <br>
    <a href="/onLeave" >Manage leave application</a>
    <br>
    <a href="/onLeave" >submit Claim compensation</a>
    <br>
    <a href="/onLeave" >manage Claim compensation</a>
    <br>
    <a th:href="@{/employee/leaveList/}+${id}" >View personal leave history </a>
    <br>
</div>








<h3>-- logout --</h3>
<br>
<h3><a href="/logout" >logout here</a></h3>
<br>

</body>
</html>