<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Leave Details</title>
<head th:replace="fragment/layout.html :: head"/>

<body>
	<div th:replace="fragment/layout.html :: navbar-inv"/>
	<script type="text/javascript" media="all" th:src="@{/assets/bootstrap/js/bootstrap.min.js}" ></script>

	<h3>Leave Details</h3>
	<div th:object="${newLeave}">
		<table>
			<tbody>
				<tr>
					<td >From Date:</td >
					<td th:text="*{fromDate}"></td >
				</tr>
				<tr>
					<td >To Date:</td >
					<td th:text="*{toDate}"></td >
				</tr>
				<tr>
					<td >Remarks:</td >
					<td th:text="*{remarks}"></td >
				</tr>
				<tr>
					<td >Covering Employee:</td >
					<td th:text="*{coveringEmp}"></td >
				</tr>
				<tr>
					<td >Contact Details:</td >
					<td th:text="*{contactDetails}"></td >
				</tr>
				<tr>
					<td >Leave Type:</td >
					<td th:text="*{leaveType.leaveName}"></td >
				</tr>
				<tr>
					<td >Leave Status:</td >
					<td th:text="*{approvalStatus}"></td >
				</tr>
			</tbody>
		</table>		
		<form method="POST">
			<button type="submit" th:unless="${newLeave.approvalStatus.toString().equalsIgnoreCase('DELETED')}" th:formaction="@{/employee/editLeave/}+*{leaveId}">Edit</button>
			<button type="submit" th:unless="${newLeave.approvalStatus.toString().equalsIgnoreCase('DELETED') or newLeave.approvalStatus.toString().equalsIgnoreCase('APPROVED')}" th:formaction="@{/employee/deleteLeave/}+*{leaveId}">Delete</button>
			<button type="submit" th:if="${newLeave.approvalStatus.toString().equalsIgnoreCase('APPROVED')}" th:formaction="@{/employee/cancelLeave/}+*{leaveId}">Cancel leave</button>
		</form>
			<!--<a href="#" th:href="@{/employee/manageLeave/}+*{leaveId}"><button type="button">Back</button></a> -->
	</div >
</body>
</html>