<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="400" cellpadding="10" cellspacing="5" border="2" bgcolor="#f5f5dc">
        <thead>
        <tr>
            <th >Leave Id</th>
            <th>Employee Id</th>
            <th>from date</th>
            <th>to date</th>
            <th>leave type</th>
            <th>remark</th>
            <th>contact detail</th>
            <th>Status</th>
    
        </tr>
        </thead>
        <tbody>
    <tr th:each="leave: ${leaveList}">
        <td th:text="${leave.leaveId}" />
        <td th:text="${leave.employee.employeeId}" />
        <td th:text="${leave.fromDate}" />
        <td th:text="${leave.toDate}" />
        <td th:text="${leave.leaveType.leaveName}" />
        <td th:text="${leave.remarks}" />
        <td th:text="${leave.contactDetails}" />
        <td th:text="${leave.approvalStatus}" />
    </tr>
        </tbody>
    
    </table>
    //Need to get back to home page...
    <a th:href="@{/authenticate}">Back</a>
    <a th:href="@{/employee/download/}+${session.userSession.employee.employeeId}">Download</a>
</body>
</html>