<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="400" cellpadding="10" cellspacing="5" border="2" bgcolor="#f5f5dc">
        <thead>
        <tr>
            <th >Leave Id</th>
            <th>Employee Id</th>
            <th>from date</th>
            <th>to date</th>
            <th>leave type</th>
            <th>remark</th>
            <th>contact detail</th>
            <th>Status</th>
            <th>Manager's Comment</th>
            <th>View Details</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Cancel</th>
        </tr>
        </thead>
        <tbody>
    <tr th:each="leave: ${leaveList}">
        <td th:text="${leave.leaveId}">
        <td th:text="${leave.employee.employeeId}" />
        <td th:text="${leave.fromDate}" />
        <td th:text="${leave.toDate}" />
        <td th:text="${leave.leaveType.leaveName}" />
        <td th:text="${leave.remarks}" />
        <td th:text="${leave.contactDetails}" />
        <td th:text="${leave.approvalStatus}" />
        <td th:text="${leave.managerComment}" />
        <td><a th:href="@{/employee/viewLeaveDetails/}+${leave.leaveId}">View Details</a></td>
        <td><a href="leaveForm.html" th:unless="${leave.approvalStatus.toString().equalsIgnoreCase('DELETED')}" th:href="@{/employee/editLeave/}+${leave.leaveId}">Edit</a></td>
		<td><a href="leaveForm.html" th:href="@{/employee/deleteLeave/}+${leave.leaveId}">Delete</a></td>
		<td><a href="leaveForm.html" th:if="${leave.approvalStatus.toString().equalsIgnoreCase('APPROVED')}" th:href="@{/employee/cancelLeave/}+${leave.leaveId}">Cancel</a></td >
    </tr>
        </tbody>
    
    </table>
    <a th:href="@{/employee/home}">Back</a>
</body>
</html>