<!DOCTYPE html>
<html lang="en">
   <head th:replace="fragment/layout.html :: head"/>
	<body class="align-items-center align-content-center align-self-center mx-auto"
        style="background: #ffffff;">
        
     <div th:replace="fragment/layout.html :: navbar-inv"/>
	    <section class="d-flex justify-content-center align-items-center align-content-center highlight-blue"
	            style="padding: 60px 0px;
	            background: #ffffff;
	            color: rgb(0,0,0);
	            margin-bottom: 0px;
	            padding-top: 39px;">
	         <div class="row">
             <div class="col">
                <div class="container" style="padding: 50px; padding-top: 0px; padding-bottom: 10px;">
                    <div class="intro">
                    </div>  
				    <h3>Leave Types</h3>
				    <form class="flex-fill" th:object="${leaveType}" th:action="@{/leavetype/edit/}+${leaveType.leaveName}" method="POST"
				    style="padding: 114px;
                                padding-top: 20px;
                                padding-right: 510px;
                                padding-bottom: 50px;
                                padding-left: 0px;">
				        <fieldset class="mb-3">
				            <label class="form-label" style="margin-bottom: 3px;"><strong>Leave Name:</strong></label>
				            <input class="form-control" style="background: rgba(152,181,255,0.26);" type="text" th:field="*{leaveName}" readonly="readonly"/>
				            
				        </fieldset >
				
				        <fieldset class="mb-3">
				            <label class="form-label" style="margin-bottom: 3px;"><strong>Granularity:</strong></label>
				          <input class="form-control" style="background: rgba(152,181,255,0.26);" type="number" th:field="*{granularity}" placeholder="Enter minimum application period (days), e.g., 0.5 or 1" />
				            <p class="mb-3 error-message" th:if="${#fields.hasErrors('granularity')}" th:errors="*{granularity}"></p>
				        </fieldset >
				
				        <fieldset class="mb-3">
				            <label class="form-label" style="margin-bottom: 3px;"><strong>Leave Code:</strong></label>
				            <input class="form-control" style="background: rgba(152,181,255,0.26);" type="text" th:field="*{leaveCode}" placeholder="Enter leave name in full, e.g., Annual Leave"/>
				            <p class="mb-3 error-message" th:if="${#fields.hasErrors('leaveCode')}" th:errors="*{leaveCode}"></p>
				        </fieldset >
				                  <div class="text-end mb-3">
                     <button class="btn btn-primary"
                        type="button"
                        style="background: rgb(192, 192, 192);
                        color: rgb(0,0,0);
                        border-width: 0px;
                        margin-top: 30px;">
                     <strong><span th:text="#{Label.editLTBack}"
                        onclick="window.location.href='/leavetype/all'; return false"></span></strong></button>
                         &nbsp; &nbsp;                                  
                     <button class="btn btn-primary"
                        type="reset"
                        style="background: rgb(255, 128, 128);
                        color: rgb(0,0,0);
                        border-width: 0px;
                        margin-top: 30px;">
                     <strong><span th:text="#{Label.roleReset}"></span></strong></button>
						&nbsp; &nbsp;
                     <button class="btn btn-primary"
                        type="submit"
                        style="background: #80ffc6;
                        color: rgb(0,0,0);
                        border-width: 0px;
                        margin-top: 30px;">
                     <strong><span th:text="#{Label.roleSubmit}"></span></strong></button>
                  </div>
				    </form>
                </div>
            </div>
        </div>
    </section>
        <div class="col" style="text-align: center;">
         <img th:src="@{/assets/img/leavetype.PNG}" style="height: 350px;width: 427.78px; border-radius: 17px;"/>
         </div>
      <footer class="text-start d-flex flex-fill justify-content-start align-items-start align-content-start align-self-start justify-content-xl-center align-items-xl-center footer-clean bg-info">
         <h1 class="text-start text-white">Take your holidays without worry!</h1>
      </footer>
      <script  type="text/javascript" media="all" th:src="@{/assets/bootstrap/js/bootstrap.min.js}" ></script>
   </body>
</html>