<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/layout.html :: head"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave type form</title>
</head >

<body class="align-items-center align-content-center align-self-center mx-auto"
        style="background: #ffffff;">
        
     <div th:replace="fragment/layout.html :: navbar"/>
	    <section class="d-flex justify-content-center align-items-center align-content-center highlight-blue"
	            style="padding: 133px 0px;
	            background: #ffffff;
	            color: rgb(0,0,0);
	            margin-bottom: 0px;
	            padding-top: 39px;">
	         <div class="row">
             <div class="col">
                <div class="container" style="padding: 50px; padding-top: 0px; padding-bottom: 10px;">
                    <div class="intro">

                    </div>  
     
				    <h3>Welcome admin!</h3>
				
				    <form class="flex-fill" th:object="${leaveType}" th:action="@{/leavetype/addLeaveType}" method="POST"
				    style="padding: 114px;
                                padding-top: 20px;
                                padding-right: 510px;
                                padding-bottom: 50px;
                                padding-left: 0px;">
				        <fieldset class="mb-3">
				            <label class="form-label" style="margin-bottom: 3px;"><strong>LEAVE NAME :</strong></label>
				            <input class="form-control" style="background: rgba(152,181,255,0.26);" type="text" th:field="*{leaveName}" placeholder="such as AL, CL, ML……"/>
				            <p class="mb-3 error-message" th:if="${#fields.hasErrors('leaveName')}" th:errors="*{leaveName}"></p>
				        </fieldset >
				
				        <fieldset class="mb-3">
				            <label class="form-label" style="margin-bottom: 3px;"><strong>Granularity:</strong></label>
				          <input class="form-control" style="background: rgba(152,181,255,0.26);" type="number" th:field="*{granularity}" placeholder="should be integer" />
				            <p class="mb-3 error-message" th:if="${#fields.hasErrors('granularity')}" th:errors="*{granularity}"></p>
				        </fieldset >
				
				        <fieldset class="mb-3">
				            <label class="form-label" style="margin-bottom: 3px;"><strong>LEAVE CODE:</strong></label>
				            <input class="form-control" style="background: rgba(152,181,255,0.26);" type="text" th:field="*{leaveCode}" placeholder="such as Annual leave, Medical leave……" />
				            <p class="mb-3 error-message" th:if="${#fields.hasErrors('leaveCode')}" th:errors="*{leaveCode}"></p>
				        </fieldset >
				
				        <fieldset class="text-end mb-3">
				            <input class="btn btn-primary" type="submit" value="SAVE" 
				            style="background: #80ffc6;color: rgb(0,0,0);border-width: 0px;margin-top: 50px;"/>
				            &nbsp;&nbsp;&nbsp;
				            <input class="btn btn-primary" type="reset" value="RESET" 
				            style="background: #80ffc6;color: rgb(0,0,0);border-width: 0px;margin-top: 50px;"/>
				        </fieldset >
				    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-start d-flex flex-fill justify-content-start align-items-start align-content-start align-self-start justify-content-xl-center align-items-xl-center footer-clean bg-info">
        <h1 class="text-start text-white">Take your holidays without worry!</h1>
    </footer>
    <script  type="text/javascript" media="all" th:src="@{/assets/bootstrap/js/bootstrap.min.js}" ></script>
</body>
</html>