<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user form</title>
</head>

<body>
    <h1>Welcome admin!</h1>

    <form th:object="${user}" th:action="@{/adminuser/adduser}" method="POST">
        <fieldset>
            <input type="hidden" th:field="*{userId}" /> 
        </fieldset>

        <fieldset>
            USER NAME : <input type="text" th:field="*{username}" />
         	<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
        </fieldset>

        <fieldset>
            PASSWORD : <input type="password" th:field="*{password}" />
 			<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
        </fieldset>

       <fieldset>
            EMPLOYEE NAME: 
            <select name="employee">
                <option value="">=Please choose=</option>
                <option th:each="emp : ${allEmployees}" th:value="${emp.employeeId}"
								th:text="${emp.name}">
				</option>
            </select>
 			
        </fieldset>

        <fieldset>
            ROLE: 
            <select name="roles" <!--multiple="multiple" id="roles"-->>
            	<option value="">=Please choose=</option>
                <option th:each="role : ${rolesall}" th:value="${role.roleId}"
								th:text="${role.roleDesc}">
				</option>
            </select>
            
        </fieldset>

        <fieldset>
            <input type="submit" value="SAVE" />
            &nbsp;&nbsp;&nbsp;
            <input type="reset" value="RESET" />
        </fieldset>
    </form>
</body>

</html>